#container{
    border: 4px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 40rem;
    width: 40rem;
}

.grid{
    border: 4px solid red;
    background-color: pink;
    height: 9.5rem;
    width: 9.5rem;
    margin: 0;

}